<head>
  {{> scripts}}
  <!-- estilo y manifiesto -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="Recordatorios reelevantes sobre FCYT UADER
    en la expo industrial!">

  <!-- Favicons 
  <link rel="icon" href="assets/images/icons/icon-72x72.png">
  -->
  <!-- Titulo -->
  <title>- Librería -</title>

  <!-- Cebecera -->
  <header>
    <img src="assets/images/main-page/books.jpg" class='adjustable-image'>
  </header>
</head>